<div id="<%= dom_id book %>">
  <p>
    <strong>User:</strong>
    <%= book.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= book.year %>
  </p>

</div>
